<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" ng-class="{ active: $state.is('user') }">
                <a ui-sref="user">Dengo <span>Forum</span></a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{ active: $state.is('login') }" ng-if="!ls.isLogged">
                    <a ui-sref="login" >Log in</a>
                </li>
                <li ng-class="{ active: $state.is('register') }" ng-if="!ls.isLogged">
                    <a ui-sref="register">Sing up</a>
                </li>
            </ul>

            <button class="btn btn-default navbar-btn navbar-right" ng-hide="ls.doneLoading">
                <i class="fa fa-spinner fa-spin"></i>
            </button>
            <!-- Logout Form -->
            <form class="navbar-form navbar-right" role="logout" ng-submit="logoutMe()" ng-show="ls.isLogged">
                <div class="form-group">
                    <label class="user-name-header">{{ ls.user.name }}</label>
                    <div class="avatar-header">
                        <!--<img src="{{ ls.user.photo}}"/>-->
                        <img src="http://lorempixel.com/100/100/"/>
                    </div>

                                    </div>
                <div class="form-group">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{ active: $state.is('login') }" ng-if="!ls.isLogged">
                            <a ui-sref="logout" >Log Out</a>
                        </li>
                    </ul>
                    <button type="submit" class="btn-loguot btn-default-loguot">Log Out<i class="fa fa-signout"></i></button>
                </div>
                <div ng-controller="HeaderController as ctrl" style="display: inline-block">
                    <select ng-options="language | translate for language in ctrl.languages" ng-model="ctrl.language"
                            ng-change="ctrl.updateLanguage()">
                    </select>
                </div>
            </form>
        </div><!--/.nav-collapse -->
    </div>
</nav>