<div class="event">
    <div class="welcome-text-title">
        <h3 class="text_event">{{calEvent.title}}</h3>
    </div>
    <div class="post">
        <div class="row post-content">

            <uib-accordion>
            <div uib-accordion-group class="panel-default map-accordion" is-open="status.isCustomHeaderOpen">
                <uib-accordion-heading>
                    <img src="/images/src/viawEvents/images/map-marker_30.png">Location on map
                </uib-accordion-heading>
                <p>{{address}}</p>
                <ng-map zoom="15" center="{{address}}">
                    <marker position="{{address}}" title="{{address}}"></marker>
                </ng-map>
            </div>
            </uib-accordion>

            <div class="col-lg-3 col-md-3 post-icon">
                <img class="author-img"
                     src="{{calEvent.author.photo}}">
                <div class="post-author">
                    <a class="page-link lia-link-navigation lia-user-name-link"
                       href="#" target="_blank">{{calEvent.author.name}}</a>
                </div>
            </div>

            <div class="col-lg-9 col-md-9 post-cell">
                <div class="event-date">
                    <div class="post-date">
                        <span>{{calEventData}}</span>
                    </div>
                    <div class="start-time">
                        <span>{{calEvent.time}}</span>
                    </div>

                    <div class="event-place">
                        <span>{{calEvent.sity}}</span>
                    </div>
                    <div class="post-place">
                        <span>{{calEvent.location}}</span>
                    </div>
                </div>

                <div class="post-body">{{calEvent.content}}</div>

            </div>

            <div class="col-lg-12 col-md-12 post-info">
                <div class="author-tel">
                    <a class="page-link lia-link-navigation lia-user-tel" href="#" target="_blank">{{calEvent.author.phoneNumber}}</a>
                </div>

                <div ng-controller="ViawEventsController as $ctrl" class="modal-demo">

                    <div class="add-i-go">
                        <button type="button" class="btn btn-primary" ng-model="igo"
                                uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Я Піду</button>

                        <ng-md-icon icon="supervisor_account" ng-click="$ctrl.open()" size="30"></ng-md-icon>
                        <span class="i-go-count-total">{{igo}}</span>
                    </div>

                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title" id="modal-title">Я піду</h3>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <ul>
                                <li>
                                    <a href="#">User#1</a>
                                </li>
                                <li>
                                    <a href="#">User#2</a>
                                </li>
                                <li>
                                    <a href="#">User#3</a>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </script>

                    <div class="modal-parent"></div>
                </div>

                <div class="add-reply">
                    <button data-toggle="collapse" data-target="#event-comment" type="button" class="btn btn-primary">Коментар</button>
                </div>
                <div class="like-count">
                    <!--Post Likes Count:-->
                    <span class="like-count-total">{{singleModel}}</span>
                    <span class="like-count-text">Підтримую</span>
                    <ng-md-icon icon="thumb_up" size="30" ng-model="singleModel"
                                uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"></ng-md-icon>
                </div>
            </div>
                <div id="event-comment" class="comment-add collapse">
                    <div class="form-input comment-body">
                        <label>Comment</label>
                        <textarea ng-model="comment"></textarea>
                    </div>
                </div>
        </div><!--post-->

        <div class="row post-content post-reply" ng-repeat="comment in commentForm" ng-if="commentForm.length>0">
            <div class="col-lg-3 col-md-3 post-icon">
                <img class="author-img" src="{{comment.photo}}">
                <div class="post-author">
                    <a class="page-link lia-link-navigation lia-user-name-link" href="#" target="_blank">{{comment.name}}</a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 post-cell">
                <div class="post-date">
                    <span>{{comment.data}}</span>
                </div>
                <div class="post-body"><br>
               {{comment.content}}
                </div>
            </div>
        </div><!--post reply-->


    </div>
    <button type="button" ng-click="removeEvent()" class="btn btn-danger">Удалить</button>
</div>

