<div class="event">
    <div class="welcome-text-title">
        <h3 class="text_event"> Перша в 2017 році зутріч Front-End Developer-ів!</h3>
    </div>

    <div class="post">
        <div class="row post-content">
            <div class="col-lg-3 col-md-3 post-icon">
                <img class="author-img"
                     src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <div class="post-author">
                    <a class="page-link lia-link-navigation lia-user-name-link"
                       href="#" target="_blank">Tharanga E</a>
                </div>
            </div>

            <div class="col-lg-9 col-md-9 post-cell">
                <div class="event-date">
                    <div class="post-date">
                        <span>15.01.2017</span></div>
                    <div class="start-time">
                        <span>14:00</span>
                    </div>

                    <div class="event-place">
                        <span>Львів</span>
                    </div>
                    <div class="post-place">
                        <span>пр. Свободи 13 оф.13</span>
                        <a href="#"><img src="/images/src/viawEvents/images/map-marker_30.png"></a>
                    </div>
                </div>

                <div class="post-body">Плануємо цікаву зустріч всіх хто живе
                    прагамуванням і хто має бажання знайти однодумців. Перша неформальна
                    тема : Моє бачення перспектив ІТ в Україні та Світі.</div>

            </div>

            <div class="col-lg-12 col-md-12 post-info">
                <div class="author-tel">
                    <a class="page-link lia-link-navigation lia-user-tel" href="#" target="_blank">+38-097-00-00-000</a>
                </div>
                <div class="add-i-go">
                    <button type="button" class="btn btn-primary">Я Піду</button>
                </div>
                <div class="add-reply">
                    <button type="button" class="btn btn-primary">Коментар</button>
                </div>
                <div class="like-count">
                    <!--Post Likes Count:-->
                    <span class="like-count-total">{{singleModel}}</span>
                    <span class="like-count-text">Підтримую</span>
                    <ng-md-icon icon="thumb_up" style="fill: #37a000" size="20" ng-model="singleModel"
                                uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"></ng-md-icon>
                </div>
            </div>
        </div><!--post-->

        <div class="row post-content post-reply">
            <div class="col-lg-3 col-md-3 post-icon">
                <img class="author-img" src="/images/src/viawEvents/images/bill_geits.png">
                <div class="post-author">
                    <a class="page-link lia-link-navigation lia-user-name-link" href="#" target="_blank">Білл Гейтс</a>
                </div>
            </div>

            <div class="col-lg-9 col-md-9 post-cell">

                <div class="post-date">
                    <span>01.01.2017</span>
                </div>
                <div class="post-body">Всім раджу прийняти участь в даній зустрічі.
                    Я теж маю честь бути запрошеним на цю подію.
                </div>

            </div>

            <div class="col-lg-12 col-md-12 post-info">
                <div class="add-reply">
                    <button type="button" class="btn btn-primary">Reply</button>
                </div>
                <div class="like-count">
                    <!--Post Likes Count:-->
                    <span class="like-count-total">{{singleModel}}</span>
                    <span class="like-count-text"> Likes </span>
                    <ng-md-icon icon="thumb_up" style="fill: #37a000" size="20" ng-model="singleModel"
                                uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"></ng-md-icon>
                </div>
            </div>
        </div><!--post reply-->

    </div>

    <div class="post-pagination">
        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
            class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
    </div>
</div>