<div class="event" id="viewEventPage" ng-hide="true">
    <div class="welcome-text-title">
        <h3 class="text_event" id="eventTitle"></h3>
    </div>
    <div class="post">
        <div class="row post-content">

            <uib-accordion>
            <div uib-accordion-group class="panel-default map-accordion" is-open="status.isCustomHeaderOpen">
                <uib-accordion-heading>
                    <img src="/images/src/viawEvents/images/map-marker_30.png">Location on map
                </uib-accordion-heading>
                <p>{{address}}</p>
                <ng-map zoom="15" center="{{address}}">
                    <marker position="{{address}}" title="{{address}}"></marker>
                </ng-map>
            </div>
            </uib-accordion>

            <div class="col-lg-3 col-md-3 post-icon">
                <img id="eventAuthorPhoto" class="author-img"
                     src="">
                <div class="post-author">
                    <a class="page-link lia-link-navigation lia-user-name-link"
                       href="#" target="_blank" id="eventAuthor"></a>
                </div>
            </div>

            <div class="col-lg-9 col-md-9 post-cell">
                <div class="event-date">
                    <div class="post-date">
                        <span id="eventDate"></span>
                    </div>
                    <div class="start-time">
                        <span id="eventTime"></span>
                    </div>

                    <div class="event-place">
                        <span id="eventSity"></span>
                    </div>
                    <div class="post-place">
                        <span id="eventLocation"></span>
                    </div>
                </div>

                <div class="post-body" id="eventContent"></div>

            </div>

            <div class="col-lg-12 col-md-12 post-info">
                <div class="author-tel">
                    <a class="page-link lia-link-navigation lia-user-tel" href="#" target="_blank" id="eventAuthorPhoneNumber"></a>
                </div>
                <div class="add-i-go">
                    <button type="button" class="btn btn-primary">Я Піду</button>
                </div>
                <div class="add-reply">
                    <button type="button" class="btn btn-primary">Коментар</button>
                </div>
                <div class="like-count">
                    <!--Post Likes Count:-->
                    <span class="like-count-total">{{singleModel}}</span>
                    <span class="like-count-text">Підтримую</span>
                    <ng-md-icon icon="thumb_up" style="fill: #37a000" size="20" ng-model="singleModel"
                                uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"></ng-md-icon>
                </div>
            </div>
        </div><!--post-->

        <div class="row post-content post-reply">
            <div class="col-lg-3 col-md-3 post-icon">
                <img class="author-img" src="/images/src/viawEvents/images/bill_geits.png">
                <div class="post-author">
                    <a class="page-link lia-link-navigation lia-user-name-link" href="#" target="_blank">Білл Гейтс</a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 post-cell">
                <div class="post-date">
                    <span>01.01.2017</span>
                </div>
                <div class="post-body">Всім раджу прийняти участь в даній зустрічі.
                    Я теж маю честь бути запрошеним на цю подію.
                </div>
            </div>
        </div><!--post reply-->


    </div>
    <button type="button" ng-click="removeEvent()" class="btn btn-danger">Удалить</button>
</div>

