.postTest {
  padding: 50px 0 0 100px;
  color: #353d3e;
  .welcome-text-title {
    font-family: 'Raleway ExtraBold';
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: 15px;
  }
  .category-description {
    font-family: 'Raleway Bold';
    font-size: 14px;
    margin-bottom: 24px;
  }
  .searchPost {
    margin-bottom: 30px;
    input {
      border-radius: 0;
      height: 30px;
      &:focus {
        border: 1px solid #dfdfdf;
        box-shadow: none;
      }
    }

    .input-group-btn {
      float: left;
      button {
        background-color: #dfdfdf;
        border-radius: 0;
        border: 1px solid #b4b4b4;
        text-transform: lowercase;
        font-family: "Lucida Fax";
        color: #3b3b3b;
        font-size: 16px;
        padding: 3px 20px;
        &:focus {
          outline: 0;
        }
      }
    }
    .btn-search-box {
      button.btn-search {
          background-color: #dfdfdf;
          border-radius: 0;

        border: 1px solid #b4b4b4;
        font-family: "Lucida Fax";
          color: #3b3b3b;
          font-size: 14px;
          padding: 4px 20px;
          &:focus {
            outline: 0;
          }
        }
      button.btn-add-post {
        background-color: #62a2ae;
        border-radius: 0;
        border: 1px solid #62a2ae;
        font-family: "Lato";
        color: #ffffff;
        font-size: 14px;
        height: 30px;
          &:focus {
            outline: 0;
          }
        }

      }


  }
  .img-title {
    padding: 16px 100px 35px;
    img {
      width: 100%;
      height: 185px;
    }
  }
}

.image {
      width: 100%;
    height: 240px;
}

.searchPostIcon{
  margin-left: -30px;
  float: left;
  margin-top: 3px;
  cursor: pointer;
}
.searchPostInput{
  float: left;
}
.filterPostIcon{
  float: left;
  cursor: pointer;
}

.dropdownPostFilter{
  width: 80%;
  margin-left: 30px;
}

.searchPostMenu{
  width: 300px;
}
.dropdown-menu-right {
  left: 0;
}
.posts {
  .post-content {
    background-color: white;
    font-family: 'Raleway Medium';
    margin-left: -1px;
    margin-right: 5px;
    border-top: 1px solid #dfdfdf;
    a {
      cursor: pointer;
    }
    .post-cell {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 87px;
      .post-subject a {
        padding-left: 30px;
        font-family: 'Raleway Bold';
        font-size: 18px;
        cursor: pointer;
        color: #62a2ae;
        &:hover {
          //color: #B0E44F;
        }
      }
      .post-info {
        padding-top: 15px;
        span {
          color: #aaa9a9;
        }
      }
      .post-body {
        text-align: justify;
        padding-bottom: 30px;
      }
      .post-date {
        color: #a4a3a3;
        padding-left: 30px;
      }
    }
    .post-info {
      padding-top: 15px;
      span {
        color: #aaa9a9;
      }
    }
  }
}
input[type=range] {
  width: 300px; }

ul[rn-carousel] {
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  position: relative;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }
ul[rn-carousel] > li {
  color: black;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: visible;
  vertical-align: top;
  position: absolute;
  left: 0;
  right: 0;
  white-space: normal;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: inline-block; }

/* prevent flickering when moving buffer */
ul[rn-carousel-buffered] > li {
  display: none; }

ul[rn-carousel-transition="hexagon"] {
  overflow: visible; }

/* indicators */
div.rn-carousel-indicator span {
  cursor: pointer;
  color: #666; }
div.rn-carousel-indicator span.active {
  color: white; }

/* prev/next controls */
.rn-carousel-control {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  font-size: 2rem;
  position: absolute;
  top: 40%;
  opacity: 0.75;
  cursor: pointer; }
.rn-carousel-control:hover {
  opacity: 1; }
.rn-carousel-control.rn-carousel-control-prev {
  left: 0.5em; }
.rn-carousel-control.rn-carousel-control-prev:before {
  content: "<"; }
.rn-carousel-control.rn-carousel-control-next {
  right: 0.5em; }
.rn-carousel-control.rn-carousel-control-next:before {
  content: ">"; }



