<div class="col-md-9 postTest">


        <div class="welcome-text-title">DENGO Community Discussions</div>
        <div class="category-description">Start a discussion related to IT-workers, freelancing or hiring, problems, policies
            and questions related to the IT-branch in Ukraine.
        </div>


    <div class="searchPost col-md-12">
        <div class="col-md-7 searchPostInput">
            <input type="text" placeholder="Search for..." style="width: 110%">
        </div>
        <div class="col-md-1 searchPostIcon">
            <ng-md-icon icon="search" size="25" ></ng-md-icon>
        </div>
        <div class="col-md-1 filterPostIcon" >
            <span class="input-group-btn" >
                   <div class="dropdown dropdown-lg">
                   <ng-md-icon icon="filter_list" size="30" data-toggle="dropdown"></ng-md-icon>
                            <div class="dropdown-menu dropdown-menu-right searchPostMenu" role="menu">
                                <form class="form-horizontal dropdownPostFilter" role="form">
                                  <div class="form-group">
                                    <label>Filter by</label>
                                    <select class="form-control">
                                        <option value="0" selected>All Snippets</option>
                                        <option value="1">Featured</option>
                                        <option value="2">Most popular</option>
                                        <option value="3">Top rated</option>
                                        <option value="4">Most commented</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label>Author</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <div class="form-group">
                                    <label>Contains the words</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                </form>
                            </div>
                       <!--<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>-->
                        </div>
                </span>
        </div>
        <div class="col-md-3">
            <div class="btn-search-box">
                <button ui-sref="addPost" class="btn-add-post">ADD POST</button>
            </div>
        </div>
    </div>


        <div class="img-title"><img src="images/src/post/images/posts1.png" alt=""></div>

        <div class="posts" ng-repeat="post in posts" ng-if="posts.length>0">
            <div class="row post-content">

                <div class="col-lg-10 col-md-10 post-cell">
                    <div class="post-subject">
                        <a class="message-subject" ui-sref="postone">{{post.title}}</a>
                    </div>

                    <div class="post-author">
                        Автор: <a ui-sref="profile">{{post.author.name}}</a>
                    </div>

                    <div class="post-body">{{post.content}}
                        <a ui-sref="postone">...</a>
                    </div>

                    <div class="post-date">
                        <span>{{post.date}}</span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 post-info">
                    <div class="reply-count">
                        <!--Post Reply Count-->
                        <span class="reply-count-total">{{post.comments.length}}</span>
                        <span class="reply-count-text"> Replies</span>
                    </div>
                    <div class="like-count">
                        <!--Post Likes Count:-->
                        <span class="like-count-total">{{post.likes.length}}</span>
                        <span class="like-count-text"> Likes</span><br><br><br><br>
                    </div>
                </div>
            </div><!--post-->
        </div>
</div>
