<div class="add-event">
    <div class="add-event-title">Edit Event</div>
    <div class="form-input subject">
        <label>Short Title</label>
        <input type="text" class="form-control" placeholder="Enter Short Title Here" name="subject" autofocus="true"
               ng-minlength="5" ng-maxlength="15" ng-required="true" ng-model="calEvent.title">
        <div class="errors" ng-class="{ active: registerForm.name.$invalid && registerForm.name.$dirty }">
            <div class="error ng-hide" ng-show="registerForm.name.$error.minlength">
                <p>Provided name is too short!</p>
            </div>
            <div class="error ng-hide" ng-show="registerForm.name.$error.maxlength">
                <p>Max name length is 15, please shorten it.</p>
            </div>
        </div>
    </div>
    <div class="form-input subject">
        <label>Subject</label>
        <input type="text" class="form-control" placeholder="Enter Subject Here" name="subject" autofocus="true"
               ng-minlength="4" ng-maxlength="32" ng-required="true" ng-model="calEvent.fullTitle">
    </div>

    <label>Start Date</label>
    <div class="form-group">
        <div class='input-group date' id='datetimepickerStart'>
            <input type='text' class="form-control" ng-model="calEvent.start" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        </div>
    </div>
    <label>End Date</label>
    <div class="form-group">
        <div class='input-group date' id='datetimepickerEnd'>
            <input type='text' class="form-control" ng-model="calEvent.end" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        </div>
    </div>

    <div class="form-input location">
        <label>Select Location</label>
        <ng-map zoom="9" center="{{calEvent.address}}">
            <marker position="{{calEvent.address}}" title="{{calEvent.address}}"></marker>
        </ng-map>
        <br>
        <label>Address:</label>
        <input class="form-control" ng-model="calEvent.address" ng-required="true"/>
    </div>
    <div class="form-input mobile">
        <label>Contact Number</label>
        <input type="text" class="form-control" placeholder="Enter Contact Number Here" name="mobile"
               ng-minlength="9" ng-maxlength="32" ng-required="true" ng-model="calEvent.author.phoneNumber">
    </div>

    <div text-angular="text-angular"  name="htmlContent" ng-model="calEvent.htmlContent" ta-disabled='disabled' placeholder="enter text:"
         ta-toolbar="[['bold','underline','italics','undo','redo', 'quote','p','ul','ol', 'insertImage','insertLink']]"></div>

    <div class="add-post-btn">
        <button type="button" ng-click="saveEditEvent()" class="btn btn-primary">Save Edit</button>
        <a ui-sref="calendar" class="btn cancel-post">Cancel</a>
    </div>
</div>