<form name="editEventForm" role="editEvent" ng-submit="saveEditEvent(editEventForm)">
<div class="add-event">
    <div class="add-event-title">Edit Event</div>
    <div class="form-input subject">
        <label>Short Title</label>
        <input type="text" class="form-control"  placeholder="Enter Short Title Here" name="ShortTitle" autofocus="true"
               ng-minlength="4" ng-maxlength="15" ng-required="true" ng-model="calEvent.title">
        <div class="errors" ng-class="{ active: editEventForm.ShortTitle.$invalid && editEventForm.ShortTitle.$dirty }">
            <div class="error ng-hide" ng-show="editEventForm.ShortTitle.$error.minlength">
                <p class="errorsContentAddEvent" >Title is too short!</p>
            </div>
            <div class="error ng-hide" ng-show="editEventForm.ShortTitle.$error.maxlength">
                <p class="errorsContentAddEvent" >>Max ShortTitle length is 15, please shorten it.</p>
            </div>
        </div>
    </div>
    <div class="form-input subject">
        <label>Full Title</label>
        <input type="text" class="form-control" placeholder="Enter Subject Here" name="FullTitle" autofocus="true"
               ng-minlength="6" ng-maxlength="52" ng-required="true" ng-model="calEvent.fullTitle">
        <div class="errors" ng-class="{ active: editEventForm.FullTitle.$invalid && editEventForm.FullTitle.$dirty }">
            <div class="error ng-hide" ng-show="editEventForm.FullTitle.$error.minlength">
                <p class="errorsContentAddEvent" >FullTitle is too short!</p>
            </div>
            <div class="error ng-hide" ng-show="editEventForm.FullTitle.$error.maxlength">
                <p class="errorsContentAddEvent" >>Max FullTitle length is 52, please shorten it.</p>
            </div>
        </div>
    </div>

    <label>Start Date</label>
    <div class="form-group form-input">
        <div class='input-group date' id='datetimepickerStart'>
            <input type='text' class="form-control" ng-model="calEvent.start" autofocus="true" ng-minlength="16" ng-maxlength="16" ng-required="true" name="dataStartEvent" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        </div>
        <div class="errors" ng-class="{ active: editEventForm.dataStartEvent.$invalid && editEventForm.dataStartEvent.$dirty }">
            <div class="error ng-hide" ng-show="editEventForm.dataStartEvent.$error.minlength">
                <p class="errorsContentAddEvent" >Data is not valid!</p>
            </div>
            <div class="error ng-hide" ng-show="editEventForm.dataStartEvent.$error.maxlength">
                <p class="errorsContentAddEvent" >Data is not valid!.</p>
            </div>
        </div>
    </div>
    <label>End Date</label>
    <div class="form-group form-input">
        <div class='input-group date' id='datetimepickerEnd'>
            <input type='text'  class="form-control" ng-model="calEvent.end" autofocus="true" ng-minlength="16" ng-maxlength="16" ng-required="true" name="dataEndEvent"/>
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        </div>
        <div class="errors" ng-class="{ active: editEventForm.dataEndEvent.$invalid && editEventForm.dataStartEvent.$dirty }">
            <div class="error ng-hide" ng-show="editEventForm.dataEndEvent.$error.minlength">
                <p class="errorsContentAddEvent" >Data is not valid!</p>
            </div>
            <div class="error ng-hide" ng-show="editEventForm.dataEndEvent.$error.maxlength">
                <p class="errorsContentAddEvent" >Data is not valid!.</p>
            </div>
        </div>
    </div>


        <label>Select Location</label>
        <label>Address:</label>
    <div class="form-input location">
        <input id="pac-input" class="form-control" ng-model="calEvent.address" placeholder="Address "  autofocus="true" ng-minlength="5" ng-required="true" name="addressEvent"/>
        <input ng-model="calEvent.region" ng-hide="true"/>
        <div class="errors" ng-class="{ active: editEventForm.addressEvent.$invalid && editEventForm.addressEvent.$dirty }">
            <div class="error ng-hide" ng-show="editEventForm.addressEvent.$error.minlength">
                <p class="errorsContentAddEvent" >Address is not valid!</p>
            </div>
        </div>
        <ng-map zoom="8" center="{{center}}" class="googleMap">
            <marker position="{{calEvent.address}}" title="{{calEvent.address}}"></marker>
        </ng-map>



        <div class="form-input mobile">
        <label>Contact Number</label>
        <input type="text" class="form-control" placeholder="+3(0 _ _)_ _ _ _ _ _ _" name="mobileEvent" autofocus="true" ng-minlength="10" ng-maxlength="13" ng-required="true" ng-model="calEvent.phoneNumber">
            <div class="errors" ng-class="{ active: editEventForm.mobileEvent.$invalid && editEventForm.mobileEvent.$dirty }">
                <div class="error ng-hide" ng-show="editEventForm.mobileEvent.$error.minlength">
                    <p class="errorsContentAddEvent" >Phone Number is not valid!</p>
                </div>
                <div class="error ng-hide" ng-show="editEventForm.mobileEvent.$error.maxlength">
                    <p class="errorsContentAddEvent" >Phone Number is not valid!.</p>
                </div>
            </div>
    </div>

    <div text-angular="text-angular"  name="htmlContent" ng-model="calEvent.htmlContent" ta-disabled='disabled' placeholder="enter text:"
         ta-toolbar="[['bold','underline','italics','undo','redo', 'quote','p','ul','ol', 'insertImage','insertLink']]"></div>

    <div class="add-post-btn">
        <button type="submit"  class="btn btn-primary"  ng-class="{ 'btn-primary': editEventForm.$valid && editEventForm.$dirty, 'btn-success': redirect }"
                ng-disabled="editEventForm.$invalid || editEventForm.$pristine">Save Edit</button>
        <a ng-click="cancelEventEdit()" class="btn cancel-post">Cancel</a>
    </div>
</div>
</div>
</form>