
<div class="login_page_container">
  <div class="login_wraper">
    <form class="login-form" name="loginForm" role="login" ng-submit="loginMe()"
          ng-hide="ls.isLogged || !ls.doneLoading">
    <div class="title">
    <h1 class="h1_login">Log in and get to work</h1>
  </div>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="login.username" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" ng-model="login.password" name="password" placeholder="Password">
      </div>
      <div class="button_box">
        <button type="submit" class="btn btn-block btn-primary p-lg-left-right " ng-disabled="login.working">
          Log in
        </button>
        <label>
          <input type="checkbox" id="login_rememberme" name="login[rememberme]" class="square_box" value="1">Remember me next time</label>
      </div>
      <div class="forgot_password">
        <a href="/reset/password">Forgot password?</a>
      </div>
    </form>
  </div>
</div>
