
.login_page_container {
  width: 100%;
 padding-bottom: 40px;

  .login_wraper {
    width: 100%;

    .title {
      text-align: center;
      margin-top: 20px;
    }
    h1.h1_login {
      font-size: 30px;
      font-family: "Lucida Fax Demibold";
      color: #5b5555;
      display: block;
    }
    h3.h3_login {
      font-size: 14px;
      font-family: "Lucida Fax Italic";
      color: #62a2ae;
      margin: .67em 0;
      display: block;
    }
    .login-form {
      width: 340px;
      height: 31px;
      margin: 0 auto;
    }
    .form-group {
      margin: auto;
      margin-top: 40px;
      width:170px;
      text-align: center;
      .form-control {
        border-radius: 0;
        margin-bottom: 18px;

      }
    }
  }
  .button_box {
    display: block;
    margin-top: 80px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    .btn-primary, .btn-primary:focus {
      color: #fff;
      background-color: #62a2ae;
      border-color: #62a2ae;
      width: 167px;
      height: 31px;
      float: left;
    }
    .btn {
      border-radius: 0px;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      font-size: 14px;
      font-family: "Lucida Fax";
      font-style: normal;
      margin: 0;
    }
    h3.remember {
      font-weight: bold;
      font-size: 12px;
      font-family: "Lucida Fax";
      margin-left: 30px;
      margin-top: 8px;
      float: left;
      color: #565f68;
      &:hover {
        color: #62a2ae;
      }
    }
    .forgot-pass1 {
      width: 160px;
      float: left;

    }.forgot-pass2 {
      width: 360px;
      float: left;
    text-align: center;
        h3.first-time1 {
          margin-top: 12px;
          margin-left: 26px;
          width: 110px;
      font-weight: bold;
      font-size: 13px;
      font-family: "Lucida Fax";
      float: left;
      color: #565f68;
      text-decoration: none;
      &:hover {
        color: #62a2ae;
        text-decoration: none;
      }
    }

      h3.first-time2 {
        width: 200px;
        font-weight: bold;
        font-size: 13px;
        font-family: "Lucida Fax";
        float: left;
        color: #62a2ae;
        text-decoration: none;
        &:hover {
          color: #565f68;
          text-decoration: none;
        }
      }
    }

  }
}
.create_akk_login_form {
  margin-left: 31px !important;
}

.errorsContentLogin{
  font-size: 9px;
}

.errorsLogin{
  display: inline-block;
  color: #FA3F3C;
  font-weight: 800;
  font-size: 10px;
}

.loginError{
  font-size: 12px;
  color: red;
}


.checkbox {
  padding-left: 20px; }
.checkbox label {
  font-family: "Lucida Fax Italic";
  display: inline-block;
  position: relative;
  padding-left: 5px; }
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; }
.checkbox input[type="checkbox"] {
  opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  outline: none;
  content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; }


.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #62a2ae;
  border-color: #62a2ae; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }
input[type="checkbox"]:focus {
  outline: none;

}