.top-authors {
  .title {
    color: #494949;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .top-solution-authors, .top-liked-authors {
    margin-top: 20px;
  }
  .autor {
    margin-top: 10px;
    .author-img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .author-name a {
      color: #37a000;
      font-weight: bold;
      &:hover {
        color: #B0E44F;
      }
    }
    .count {
      color: #999999;
      font-weight: bold;
      float: right;
    }
  }
}
.meeting-calendar {
  margin-top: 20px;
  display: inline-block;
  .title {
    color: #494949;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .well-sm {
    margin-top: 10px;
    border-radius: 0;
  }
  .full button {
    background-color: limegreen;
    color: black;
  }
  .partially button {
    background-color: orange;
    color: black;
  }
}
.jstree-default .jstree-node, .jstree-default .jstree-icon {
  background-image: url('../images/src/layout/sidebar/images/32px.png');
}


.jstree-default-small .jstree-container-ul .jstree-loading .jstree-ocl {
  background-image: url('../images/src/layout/sidebar/images/throbber.gif');
}