<div class="col-md-3 sidebar">
    <h4>{{ 'category' | translate }}</h4>
    <div id="tree">
        <ul>
            <li><a ui-sref="post">Загальні теми для обговорення</a></li>
        </ul>
        <ul>
            <li>Регіональні групи
                <ul>
                    <li>Захід
                        <ul>
                            <li><a href="#">Львів</a></li>
                            <li><a href="#">Луцьк</a></li>
                            <li><a href="#">Ів-Франківськ</a></li>
                            <li><a href="#">Рівне</a></li>
                            <li><a href="#">Тернопіль</a></li>
                            <li><a href="#">Ужгород</a></li>
                        </ul>
                    </li>
                    <li>Схід
                    <ul>
                        <li><a href="#">Донецьк</a></li>
                        <li><a href="#">Луганськ</a></li>
                        <li><a href="#">Харків</a></li>
                    </ul>
                    </li>
                    <li>Центр
                        <ul>
                            <li><a href="#">Київ</a></li>
                            <li><a href="#">Вінниця</a></li>
                            <li><a href="#">Дніпропетровськ</a></li>
                            <li><a href="#">Полтава</a></li>
                            <li><a href="#">Хмельницьк</a></li>
                            <li><a href="#">Черкаси</a></li>
                        </ul>
                    </li>
                    <li>Південь
                        <ul>
                            <li><a href="#">Миколаїв</a></li>
                            <li><a href="#">Одеса</a></li>
                            <li><a href="#">Запоріжжя</a></li>
                            <li><a href="#">Кіровоград</a></li>
                            <li><a href="#">Херсон</a></li>
                            <li><a href="#">Севастопіль</a></li>
                            <li><a href="#">Ужгород</a></li>
                        </ul>

                    </li>
                    <li>Північ
                        <ul>
                            <li><a href="#">Житомир</a></li>
                            <li><a href="#">Чернігів</a></li>
                            <li><a href="#">Суми</a></li>
                        </ul>


                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="top-authors">
        <div class="top-solution-authors">
            <span class="title">{{ 'topAuthors' | translate }}</span>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Valeria K</a></span>
                <span class="count">171</span>
            </div>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Petra R</a></span>
                <span class="count">99</span>
            </div>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Petra R</a></span>
                <span class="count">99</span>
            </div>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Petra R</a></span>
                <span class="count">99</span>
            </div>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Petra R</a></span>
                <span class="count">99</span>
            </div>
        </div>
        <div class="top-liked-authors">
            <span class="title">{{ 'topPosts' | translate }}</span>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Vladimir G</a></span>
                <span class="count">941</span>
            </div>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Nichola L</a></span>
                <span class="count">399</span>
            </div>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Preston H</a></span>
                <span class="count">9</span>
            </div>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Preston H</a></span>
                <span class="count">9</span>
            </div>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Preston H</a></span>
                <span class="count">9</span>
            </div>
        </div>
    </div>
    <div class="meeting-calendar">
        <span class="title">{{ 'eventsCalendar' | translate }}</span>
        <div id="calendarSidebar"></div>
        <a ui-sref="calendar" type="button" class="btn btn-primary btn-sm">Календар</a>

    </div>
</div>