<div class="col-md-3">
    <h4>Browse Categories</h4>
    <div class="menu-tree">
        <ul id="tree">
            <li><a ui-sref="post">Загальні теми для обговорення</a></li>
            <li><a ui-sref="post">Регіональні групи</a>
                <ul>
                    <li><a href="#">Львів</a></li>
                    <li><a href="#">Київ</a></li>
                    <li><a href="#">Харків</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="top-authors">
        <div class="top-solution-authors">
            <span class="title">TOP Solution Authors</span>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Valeria K</a></span>
                <span class="count">171</span>
            </div>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Petra R</a></span>
                <span class="count">99</span>
            </div>
        </div>
        <div class="top-liked-authors">
            <span class="title">TOP Liked Author</span>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Vladimir G</a></span>
                <span class="count">941</span>
            </div>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Nichola L</a></span>
                <span class="count">399</span>
            </div>
            <div class="autor">
                <img class="author-img" src="https://odesk-prod-portraits.s3.amazonaws.com/Users:kochubei_valeria:PortraitUrl_100?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=xMnywSdljPFbt12VFxNhtHFFtG8%3D&1456156206622909">
                <span class="author-name"><a href="#">Preston H</a></span>
                <span class="count">9</span>
            </div>
        </div>
    </div>
    <div class="meeting-calendar" ng-controller="SidebarController">
        <span class="title">Meeting calendar</span>
        <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
    </div>
</div>