<div class="col-md-3 sidebar">
    <h4>{{ 'category' | translate }}</h4>
    <h1 ui-sref="post" class="categoryDropDown">{{ 'common' | translate }}</h1>


    <div class="dropdown">
        <div class="categoryDropDown dropdown-toggle" data-toggle="dropdown">Регіональні групи<span
                class="caret"></span></div>
        <ul class="dropdown-menu dropdown-menu-category">
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="">Захід <span class="caret"></span></a>
                <ul class="displayNone">
                    <li ng-repeat="region in regions | filter:{ partCountry: 'Захід' }"><a ng-click="goToPost(region.id)" tabindex="-1">{{region.region}}</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="">Схід <span class="caret"></span></a>
                <ul class="displayNone">
                    <li ng-repeat="region in regions | filter:{ partCountry: 'Схід' }"><a ng-click="goToPost(region.id)"  tabindex="-1">{{region.region}}</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="">Центр <span class="caret"></span></a>
                <ul class="displayNone">
                    <li ng-repeat="region in regions | filter:{ partCountry: 'Центр' }" ><a  ng-click="goToPost(region.id)"  tabindex="-1">{{region.region}}</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="">Південь <span class="caret"></span></a>
                <ul class="displayNone">
                    <li ng-repeat="region in regions | filter:{ partCountry: 'Південь' }"><a ng-click="goToPost(region.id)" tabindex="-1">{{region.region}}</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="">Північ <span class="caret"></span></a>
                <ul class="displayNone">
                    <li ng-repeat="region in regions | filter:{ partCountry: 'Північ' }"><a ng-click="goToPost(region.id)" tabindex="-1">{{region.region}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="borderBottom"></div>

    <div class="top-authors">
        <div class="top-solution-authors">
            <span class="title">{{ 'topAuthors' | translate }}</span>
            <div class="autor" ng-repeat="topAuthor in topAuthors">
                <img class="author-img" src="{{topAuthor.previewPhoto}}">
                <span class="author-name"><a href="/#/profile/{{topAuthor.nickName}}">{{topAuthor.name}}</a></span>
                <span class="count">{{topAuthor.countLike}}</span>
            </div>
        </div>

        <div class="borderBottom"></div>


        <div class="top-liked-authors">
            <span class="title">{{ 'topActive' | translate }}</span>
            <div class="autor" ng-repeat="member in topActiveMembers">
                <img class="author-img"
                     src="{{member.previewPhoto}}">
                <span class="author-name"><a href="/#/profile/{{member.nickName}}">{{member.name}}</a></span>
                <span class="count">{{member.activity}}</span>
            </div>
        </div>
    </div>

    <div class="borderBottom"></div>

    <div class="meeting-calendar">
        <span ui-sref="calendar" class="cursorPointer title">{{ 'eventsCalendar' | translate }}</span>
        <div id="calendarSidebar"></div>
        <br>
    </div>
</div>