<div class="calendar-sidebar col-md-2">

    <div class="dropdown">
        <div class="categoryDropDown dropdown-toggle" data-toggle="dropdown">Оберіть місто</span></div>
        <li class="dropdown-submenu">
            <a class="test" tabindex="-1" href="">Захід <span class="caret"></span></a>
            <ul class="displayNone">
                <li ng-repeat="region in regions | filter:{ partCountry: 'Захід' }"><a ng-click="selectEventByRegion(region.id)" tabindex="-1">{{region.region}}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="test" tabindex="-1" href="">Схід <span class="caret"></span></a>
            <ul class="displayNone">
                <li ng-repeat="region in regions | filter:{ partCountry: 'Схід' }"><a ng-click="selectEventByRegion(region.id)"  tabindex="-1">{{region.region}}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="test" tabindex="-1" href="">Центр <span class="caret"></span></a>
            <ul class="displayNone">
                <li ng-repeat="region in regions | filter:{ partCountry: 'Центр' }" ><a  ng-click="selectEventByRegion(region.id)"  tabindex="-1">{{region.region}}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="test" tabindex="-1" href="">Південь <span class="caret"></span></a>
            <ul class="displayNone">
                <li ng-repeat="region in regions | filter:{ partCountry: 'Південь' }"><a ng-click="selectEventByRegion(region.id)" tabindex="-1">{{region.region}}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="test" tabindex="-1" href="">Північ <span class="caret"></span></a>
            <ul class="displayNone">
                <li ng-repeat="region in regions | filter:{ partCountry: 'Північ' }"><a ng-click="selectEventByRegion(region.id)" tabindex="-1">{{region.region}}</a>
                </li>
            </ul>
        </li>
    </div>


</div>
<div class="col-md-7 calendar-wrapper">
        <div class="calendarBox">
            <div id="calendar"></div>
        </div>
    </div>

<div class="col-md-3">
    <div ui-view></div>
</div>


