<div class="col-md-9">
    <div class="add-post">
        <div class="welcome-text-title">Post Message</div>

        <div class="form-input subject">
            <!--<label>Short Title</label>-->
            <input type="text" class="form-control" placeholder="Enter Title Here" name="subject" autofocus="true"
                   ng-minlength="5" ng-maxlength="15" ng-required="true" ng-model="newPost.title">
            <div class="errors" ng-class="{ active: registerForm.name.$invalid && registerForm.name.$dirty }">
                <div class="error ng-hide" ng-show="registerForm.name.$error.minlength">
                    <p>Provided name is too short!</p>
                </div>
                <div class="error ng-hide" ng-show="registerForm.name.$error.maxlength">
                    <p>Max name length is 15, please shorten it.</p>
                </div>
            </div>
        </div>


        <div class="form-input location">
            <!--<label>Select Location</label>-->
            <select class="form-control" name="location">
                <option value="">Choose a Category</option>
                <option value="general-group">Загальні теми для обговорення</option>
                <option value="regional-group">Регіональні групи</option>
            </select>
        </div>


        <div class="form-input body">
            <!--<label>Print Text Here</label>-->
            <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
        </div>

        <div class="post-add-file">
            <input class="form-file" accept="*" multiple="multiple" name="multipleUpload" type="file">
        </div>

        <div class="add-post-btn">
            <a ui-sref="post" class="btn cancel-post">Cancel</a>
            <button type="button" class="btn btn-primary" ng-click="addPost()">Post</button>
        </div>

    </div>
</div>