.profile_header {
  display: flex;
  margin-bottom: 20px;
  padding-top: 20px;

  .user_left {
    width: 50%;
    display: flex;
    flex-basis: 340px;
    .avatar {
      flex-basis: 104px;
      img {
        border-radius: 50%;
        border: 2px solid grey;
      }
    }
    .user_name_box {
      margin-left: 20px;
      //flex-grow: 1;
      width: 340px;
      .user_name {
        width: 100%;
        h3.user_name_text {
          font-size: 22px;
          font-weight: 300;
          font-family: "Raleway ExtraBold";
          color: #62a2ae;
          margin-top: 0;

          line-height: 1;
        }
      }
    }
  }
  .user_status {
    width: 100%;
    color: #3c3c3c;
    background: none;
    .user_status_text {
      font-family: "Raleway Medium";
      font-size: 18px;
      margin-top: 0;
      line-height: 1;
    }
  }
  .user_public {
    width: 170px;
    margin-left: 0;
    margin-top: 15px;
    margin-right: auto;
  }
  ng-md-icon {
    fill: #b1b1b1;
    &:hover {
      cursor: pointer;
      fill: #62a2ae;
    }
  }

  .user_right {
    width: 50%;
    display: flex;
    float: left;
    .user_data {
      margin-left: 0px;
      width: 200px;
      h3 {
        font-family: "Raleway SemiBold";
        font-size: 16px;
        margin-top: 0;
        line-height: 1.1;
        .date_registration {
          width: 200px;
          .last_visited {
            width: 200px;
            .massages_posted {
              width: 200px;
              .likes {
                width: 200px;
                .likes_text {
                  width: 100%;
                }
              }
              .company {
                width: 200px;
                .company_text {
                  width: 100%;
                }
              }
              .company-site {
                width: 200px;
                .company-site_text {
                  width: 100%;
                }
              }
            }

          }
        }
      }
    }
    .user_statistic {
      width: 200px;
      float: left;
      display: block;
      h3 {
        font-family: "Raleway Medium";
        font-size: 16px;
        //font-weight: 200;
        margin-top: 0;
        line-height: 1.1;
      }
    }
  }
}

.user {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .top-authors {
    .title {
      color: #494949;
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .top-solution-authors, .top-liked-authors {
      margin-top: 20px;
    }
    .autor {
      margin-top: 10px;
      .author-img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 15px;
      }
      .author-name a {
        color: #37a000;
        font-weight: bold;
        &:hover {
          color: #B0E44F;
        }
      }
      .count {
        color: #999999;
        font-weight: bold;
        float: right;
      }
    }
  }
  .posts {
    margin-top: 30px;
    width: 100%;
    //border-left: 2px solid #dadada;
    //border-right: 2px solid #dadada;

    h3.title-posts {
      padding-top: 15px;
      //padding-left: 11%;
      font-size: 20px;
      color: #62a2ae;
    }
    .post-content {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 25px;
      border-top: 1px solid #dadada;

      .Post_latest_text_link {
        font-size: 20px;
        font-family: "Raleway SemiBold";
        color: #353d3e;
        a {
          cursor: pointer;
          color: #353d3e;
          &:hover {
            color: #62a2ae;
            text-decoration: none;
          }
        }
      }
      .message-subject-board {
        font-size: 16px;
        color: #353d3e;
        font-family: "Raleway SemiBold";

      }
      h3.message-subject-board1 {
        font-size: 16px;
        color: #353d3e;
        font-family: "Raleway SemiBold";
        a {
          cursor: pointer;
          color: #353d3e;
          &:hover {
            color: #62a2ae;
            text-decoration: none;
          }
        }
      }
    }

    .post-icon {
      padding-top: 15px;
    }
    .post-cell {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      .post-subject a {
        font-size: 16px;
        color: #494949;
        font-weight: bold;
        &:hover {
          color: #B0E44F;
        }
      }
      .post-author {
        font-weight: bold;
      }
      .post-body a {
        font-weight: bold;
      }
      .post-date {
        font-weight: bold;
      }
      .post-subject, .post-author, .post-body {
        padding-bottom: 13px;
      }
    }
    .post-info {
      padding-top: 15px;
      span {
        color: #999999;
        font-weight: bold;
      }
    }
    .view-all-button {
      float: right;
      padding-top: 20px;
      }
      .btn-primary, .btn-primary:focus {
        color: #fff;
        background-color: #62a2ae;
        border-color: #62a2ae;
        width: 100px;
        height: 31px;
        float: right;
      }
      .btn {
        border-radius: 0px;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        font-size: 14px;
        font-family: "Lucida Fax";
        font-style: normal;
        margin: 0;
      }
    a.view-all {


    }
  }
}

.editInput {
  background-color: #f9f9f9;
  padding: 5px 0;
  border: none;
  border-bottom: solid 1px #62a2ae;
  color: darken(grey, 40%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 98%, #999999 98%);
  background-repeat: no-repeat;
  background-size: 260px 100%;
  background-position: -260px 0;
  transition: background-position 0.2s;
  &:focus, &:valid {
    background-position: 0 0;
    outline: none;
  }
}

.deletePhoto{
  font-family: "Raleway Medium";
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  color: #494846;
}
.deletePhoto:hover{
  color:#e40000;
}

.addPhotoIcon{
  font-size: 40px;
}
#filePhoto{display:none;}

.sendInvitation{
  margin-top: 6px;
  border-radius: 0;
  color: white;
  background: #62a2ae;
}
.sendInvitation:focus{
outline: none;
}
.sendInvitation:hover{
  background: #589aae;
  color: white;
  outline: none;
}