<div class="col-md-9 profile_header contentBackground" ng-show="profile">
    <div class="user_left">
        <div class="avatar">
            <img ng-src="{{user.photo}}" style="height: 100px; width: 100px"/>
        </div>
        <div class="user_name_box">
            <div class="user_nick_name">
                <h3 class="user_name_text">{{user.nickName}}</h3>
            </div>
            <div class="user_name">
                <h3 class="user_name_text">{{user.name}}</h3>
            </div>
            <div class="user_status">
                <h3 class="user_name_text">{{user.city.region}}</h3>
            </div>
            <div class="user_public">
                <ng-md-icon ui-sref="privateMassages" icon="mail_outline" size="25"></ng-md-icon>
                <ng-md-icon icon="settings" size="25" ng-click="profileEdit()"></ng-md-icon>
                <button ng-click="sendInvitation()" class="sendInvitation" icon="send" href="">Send an invitation
                </button>
            </div>
            <div class="sendInvitation1" style="display: none;">
                <div class="glyphicon glyphicon-remove closeSendInvitationToEmail" ng-click="closeSendInvitationToEmail()"></div>
                <label for="E-mail">
                    <input class="user_box_email"  style="font-weight: 100;" type="email" ng-model="invitation.email" id="E-mail"
                           placeholder="E-mail">
                </label>
                <button class="sendInvitation2" style="padding: 0px 12px" icon="send" ng-click="sendInvitationToEmail()">Send</button>
            </div>
            </div>
    </div>
<div class="user_right ">
    <div class="user_data">
        <div class="date_registration">
            <h3 class="date_reg"> Date Registered:</h3>
        </div>
        <div class="last_visited">
            <h3 class="last_vis"> Last Visited:</h3>
        </div>
        <div class="massages_posted">
            <h3 class="massages_posted_text">Messages Posted:</h3>
        </div>
        <div class="likes">
            <h3 class="likes_text">Likes received:</h3>
        </div>
        <div class="company">
            <h3 class="company_text">Company:</h3>
        </div>
        <div class="company-site">
            <h3 class="company-site_text">Company Site:</h3>
        </div>
    </div>
    <div class="user_statistic">
        <div class="date_registration">
            <h3 class="date_reg">
                {{user.dataRegistration.year}}-{{user.dataRegistration.monthValue}}-{{user.dataRegistration.dayOfMonth}}</h3>
        </div>
        <div class="date_registration">
            <h3 class="date_reg">
                {{user.lastVisited.year}}-{{user.lastVisited.monthValue}}-{{user.lastVisited.dayOfMonth}}
                at {{user.lastVisited.hour}}:{{user.lastVisited.minute}}
            </h3>
        </div>
        <div class="date_registration">
            <h3 class="date_reg"> {{ user.activity}}</h3>
        </div>
        <div class="date_registration">
            <h3 class="date_reg"> {{ user.countLike}}</h3>
        </div>
        <div class="company">
            <h3 class="company_text">{{user.company}}</h3>
        </div>
        <div class="company-site">
            <h3 class="company-site_text">{{user.companySite}}</h3>
        </div>
    </div>
</div>
</div>

<div class="col-md-9 profile_header" ng-show="!profile">
    <div class="user_left">
        <div class="avatar">
            <img ng-click="addAvatarPhoto()" ng-src="{{user.photo}}" style="height: 100px; width: 100px; cursor: pointer" id="img">
            <div ng-click="deleteAvatarPhoto()" class="deletePhoto">delete photo</div>
            <input type="file" name="file" id="filePhoto"/>

            <md-card-title-media>
                                <span class="header-title">
                                         <md-toolbar style="background: transparent" ngf-select
                                                     class="photo-in-create-user"
                                                     ng-model="file"
                                                     ngf-multiple="false"
                                                     ngf-allow-dir="false"
                                                     accept="image/jpeg png jpg">
                                             <div class="md-media-lg card-media"
                                                  style="background: #cbcbcb; border-radius: 50%">
                                                 <img class="avatar__img" ng-if="user.photo" ngf-src="user.photo"
                                                      ng-if="user.photo">
                                             </div>
                                         </md-toolbar>
                                    <md-toolbar ngf-select
                                                class="upload-photo-in-user-create"
                                                style="z-index:0;background: transparent; min-height: 18px !important"
                                                ng-model="file"
                                                ngf-multiple="false"
                                                ngf-allow-dir="false"
                                                accept="image/jpeg png jpg">
                                    <div class="avatar__icons">
                                        <a class="avatar__upload-icon" style="cursor: pointer">
                                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                            <span>Upload</span>
                                        </a>
                                    </div>
                                    </md-toolbar>
                                </span>
            </md-card-title-media>

        </div>

        <div class="user_name_box">

            <div class="user_name">
                <h3 class="user_name_text">{{user.nickName}}</h3>
            </div>
            <div class="user_name">
                <input placeholder="name" class="editInput" ng-model="user.name" ng-required="true"/>
            </div>
            <div class="user_status">
                <select placeholder="city" class="editInput" ng-model="user.city.region">
                    <option ng-repeat="region in regions" value="{{region.region}}">{{region.region}}</option>
                </select>
            </div>

            <div class="user_public">
                <button ng-click="changePassword()" class=" ChangePassword" icon="send" href="">Change Password
                </button>
            </div>
            <form name="newPassword" role="newPassword" ng-submit="sendNewPassword(newPassword)"  class="changePassword1" style="display: none;">
                <div class="glyphicon glyphicon-remove closeChangePassword1" ng-click="closeChangePassword1()"></div>
                <input class="user_box_email"  style="font-weight: 100;" placeholder="New Password:" type="password" name="changePassword" ng-minlength="6" ng-maxlength="16" ng-model="editUserPassword.password" ng-required="true" password-match="changePassword2">
                <input class="user_box_email"  style="font-weight: 100;" placeholder="Confirm New Password:"  type="password" name="changePassword2" ng-minlength="6" ng-maxlength="16" ng-required="true"  ng-model="changePassword2" password-match="editUserPassword.password">

                <div class="errors" ng-class="{ active: newPassword.changePassword.$invalid && newPassword.changePassword.$dirty }">
                    <div class="error ng-hide" ng-show="newPassword.changePassword.$error.match && editUserPassword.passwordlanch != null">
                        <p class="errorsChangePassword">{{ 'error_pass' | translate }}</p>
                    </div>
                    <div class="error ng-hide" ng-show="newPassword.changePassword.$error.minlength">
                        <p class="errorsChangePassword">{{ 'error_pass_short' | translate }}</p>
                    </div>
                    <div class="error ng-hide" ng-show="newPassword.password.$error.maxlength">
                        <p class="errorsContent">max 16</p>
                    </div>
                </div>
                <button class="changePassword2 btn" type="submit"  ng-class="{ 'btn-primary': newPassword.$valid && newPassword.$dirty, 'btn-success': redirect }"
                        ng-disabled="newPassword.$invalid || newPassword.$pristine">Change</button>
            </form>


            <br/>
            <div class="checkbox checkbox-success">
                <input id="newsletter" type="checkbox" alt="newsletter" ng-checked="user.subscriptionToNewsletter" ng-model="user.subscriptionToNewsletter">
                <label for="newsletter">підписатись на розсилку новин</label>
            </div>
            <div class="checkbox checkbox-success">
                <input id="newsletter1" type="checkbox" alt="newsletter" ng-checked="user.subscriptionToResponseNotification" ng-model="user.subscriptionToResponseNotification">
                <label for="newsletter1">Сповіщення про відповідь</label>
            </div>
            <div class="checkbox checkbox-success">
                <input id="newsletter2" type="checkbox" alt="newsletter" ng-checked="user.subscriptionToLikeNotification" ng-model="user.subscriptionToLikeNotification">
                <label for="newsletter2">Сповіщення про лайк поста чи відповіді</label>
            </div>
            <div class="checkbox checkbox-success">
                <input id="newsletter3" type="checkbox" alt="newsletter" ng-checked="user.subscriptionToEventsNotification" ng-model="user.subscriptionToEventsNotification">
                <label for="newsletter3">Сповіщення про подію у вашому регіоні</label>
            </div>
            <div class="user_public">
                <ng-md-icon icon="cancel" size="25" ng-click="cancelProfileEdit()"></ng-md-icon>
                <ng-md-icon icon="check_circle" size="25" ng-click="saveProfileEdit()"></ng-md-icon>
                <!--<a class="cancelEditUser">Cancel</a>-->

            </div>
        </div>
        </div>
    <div class="user_right ">
        <div class="user_data">
            <div class="date_registration">
                <h3 class="date_reg"> Date Registered:</h3>
            </div>
            <div class="last_visited">
                <h3 class="last_vis"> Last Visited:</h3>
            </div>
            <div class="massages_posted">
                <h3 class="massages_posted_text">Messages Posted:</h3>
            </div>
            <div class="likes">
                <h3 class="likes_text">Likes received:</h3>
            </div>
            <div class="company">
                <h3 class="company_text">Company:</h3>
            </div>
            <div class="company-site">
                <h3 class="company-site_text">Company Site:</h3>
            </div>
        </div>
        <div class="user_statistic">
            <div class="date_registration">
                <h3 class="date_reg">
                    {{user.dataRegistration.year}}-{{user.dataRegistration.monthValue}}-{{user.dataRegistration.dayOfMonth}}</h3>
            </div>
            <div class="date_registration">
                <h3 class="date_reg">
                    {{user.lastVisited.year}}-{{user.lastVisited.monthValue}}-{{user.lastVisited.dayOfMonth}}
                    at {{user.lastVisited.hour}}:{{user.lastVisited.minute}}
                </h3>
            </div>
            <div class="date_registration">
                <h3 class="date_reg"> {{ user.activity}}</h3>
            </div>
            <div class="date_registration">
                <h3 class="date_reg"> {{ user.countLike}}</h3>
            </div>
            <div class="company">
                <input placeholder="Company" class="editInput company_text" ng-model="user.company"  ng-required="true"/>
            </div>
            <div class="company-site">
                <input placeholder="Company Site" class="editInput company-site_text" ng-model="user.companySite"  ng-required="true"/>
            </div>
        </div>
    </div>
</div>

<div class="col-md-9">
    <div class="post">
        <div class="posts" ng-repeat="post in posts">
            <div class="row post-content">

                <div class="col-lg-10 col-md-10 post-cell">
                    <div class="post-subject">
                        <a class="message-subject" ng-click="goPost(post.id)" ui-sref="postone">{{post.title}}</a>
                    </div>
                    <div class="post-author">
                       <div ng-show="post.sity"><a class="notHover">Регіональні групи</a>/<a ng-click="goToPost(post.sity.id)" tabindex="-1">{{post.sity.region}}</a></div>
                       <div ng-show="!post.sity"><a ui-sref="post">Загальні теми для обговорення</a></div>
                    </div>

                    <div class="post-body" ng-bind-html="post.content">{{post.content}}
                        <a ui-sref="postone">...</a>
                    </div>

                    <div class="post-date">
                        <span>{{post.data}}</span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 post-info">
                    <div class="reply-count">
                        <!--Post Reply Count-->
                        <span class="reply-count-total">{{post.comments.length}}</span>
                        <span class="reply-count-text"> Replies</span>
                    </div>
                    <div class="like-count">
                        <!--Post Likes Count:-->

                        <span class="like-count-total">{{post.likes.length}}</span>
                        <span class="like-count-text"> Likes</span><br><br><br><br>
                    </div>
                </div>
            </div><!--post-->
        </div>
    </div>
    <div class="row post-content1">
        <div class="view-all-button">
            <button class="btn btn-primary" href="#">View All</button>
        </div>
    </div>
</div>
