html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 170px;
  background-color: #f9f9f9;
}
@font-face {
  font-family: 'Lato Black';
  src: url('../fonts/Lato-Black.ttf');
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato Heavy';
  src: url('../fonts/Lato-Heavy.ttf');
}
.navbar-static-top {
  margin-bottom: 0;
  background-color: #fff;
  .navbar-header {
    .navbar-brand {
      padding: 12px 15px;
      a {
        font-size: 30px;
        color: #494846;
        font-family: "Lato";
        span {
          font-family: "Lato Black";
        }
      }
    }
    a:hover, a:focus {
      text-decoration: none;
    }
  }
  .navbar-nav {
    li a {
      font-size: 24px;
      color: #3b3b3b;
      font-family: "Lato";
      &:hover, &:focus {
        font-weight: bold;
      }
    }
  }
}
.all-content-wraper {
  //padding: 20px 0 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #494949;
  padding-top: 80px;
  padding-bottom: 60px;
  .container .text-muted {
    color: #e0e0e0;
    text-align: center;
  }
}
.statistic-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  .right-circle {
    text-align: right;
  }
  .center-circle {
    text-align: center;
  }
  .left-circle {
    text-align: left;
  }
  .circle {
    width: 130px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
  }

  .circle canvas {
    vertical-align: top;
  }

  .circle strong {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
  }

  .circle strong i {
    font-style: normal;
  }

  .circle span {
    font-family: "Lato Black";
    text-transform: uppercase;
    color: #3b3b3b;
    display: block;
    margin-top: 12px;
  }
}



