<!--Statistic Footer -->
<footer class="statistic-footer">
    <div class="container">
        <div class="col-md-4 col-sm-4 right-circle">
            <br>
            <div class="first circle">
                <strong></strong>
                <span>progress</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 center-circle">
            <br>
            <div class="second circle">
                <strong></strong>
                <span>progress</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 left-circle">
            <br>
            <div class="third circle">
                <strong></strong>
                <span>progress</span>
            </div>
        </div>
    </div>
</footer>