
.title-post-one {
  font-family: "Raleway SemiBold";
  font-size: 22px;
  margin-top: 20px;
}
.post-one {
  margin-top: 50px;
  .welcome-text-title {
    font-size: 18px;
    font-family: "Raleway Bold";
    color: #494949;
  }
  .post-pagination {
    text-align: end;
    .pagination {
      li a {
        color: #000;
        margin-left: 10px;
      }
      .active a {
        border-color: #dddddd;
        background-color: #62a2ae;
        outline: 0;
        color: #fff;
      }
    }
  }
  .post {
    //border-left: 2px solid #dadada;
    //border-right: 2px solid #dadada;
    .post-content {
      padding: 25px;
      margin-left: 0;
      margin-right: 0;
      background-color: #fff;
      //border-top: 2px solid #dadada;
      &:last-child {
        border-bottom: 2px solid #dadada;
      }
      a {
        cursor: pointer;
        color: #62a2ae;
        &:hover {
          color: #243f4b;
        }
      }
      .post-icon {
        padding-top: 15px;
        .author-img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          margin-bottom: 10px;
        }
        .post-author {
          font-weight: bold;
        }
      }
      .post-cell {
        padding-top: 15px;
        padding-bottom: 15px;
        .post-date {
          margin: 0 0 30px;
          color: #B2B2B2;
          font-weight: bold;
        }
        .post-body {
          padding-bottom: 10px;
          font-family: "Raleway Regular";
          font-size: 14px;
        }
      }
      .post-info {
        padding-top: 15px;
        .like-count {
          float: right;
          color: #999999;
          font-weight: bold;
          ng-md-icon {
            cursor: pointer;
          }
          :hover {
            fill: #62A2AE;
          }
          :active {
            fill: #62A2AE;
          }
        }
      }
    }
  }
}



.commentPost{
  .commentPost-content {
    padding: 5px;
    margin-left: 0px;
    margin-right: 0;
    background-color: rgb(236, 236, 236);
    //border-top: 2px solid #dadada;
    &:last-child {
      border-bottom: 2px solid #dadada;
    }
    a {
      cursor: pointer;
      color: #62a2ae;
      &:hover {
        color: #243f4b;
      }
    }
    .commentPost-icon {
      padding-top: 15px;
      .author-img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
      .commentPost-author {
        font-weight: bold;

        .commentPost-date {
          font-family: "Lato";
          color: #B2B2B2;
          font-size: 12px;
        }
      }
    }
    .commentPost-cell {
      padding-top: 15px;
      padding-bottom: 15px;

      .commentPost-body {
        padding-bottom: 10px;
        font-family: "Raleway Regular";
        font-size: 14px;
      }
    }
    .commentPost-info {
      .like-count {
        float: right;
        color: #999999;
        font-weight: bold;
        ng-md-icon {
          cursor: pointer;
        }
      }
    }
  }
}

.addCommentPost{
  float: right;
  margin-right: -132px;
  margin-top: 49px;
  height: 80px!important;
  width: 60%;
}

.btnAddPostComment{
  color: white;
  background-color: #62a2ae;
  border-color: #62a2ae;
  border-radius: 0;
  margin-top: 150px;
  float: right;
}

.btnAddPostComment:hover{
  color: white;
  background-color: #62a2ae;
  border-color: #62a2ae;
}
.btnAddPostComment:focus{
  color: white;
  background-color: #62a2ae;
  border-color: #62a2ae;
}

.errorComment{
  color: red;
  float: right;
}

.post .post-content .post-cell .welcome-text-title {
  background: white;
}

.colorLikesTrue{
  fill: #62A2AE !important;
}
