<div class="col-md-9">
        <div class="title-post-one">Post One will be Here
        </div>
    <div class="post-one">
        <div class="post-pagination">
            <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"
                class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
        </div>
        <div class="post">
            <div class="row post-content">
                <div class="col-lg-2 col-md-2 post-icon">
                    <img class="author-img"
                         src="{{post.author.photo}}">
                    <div class="post-author">
                        <a class="page-link lia-link-navigation lia-user-name-link"
                           href="#" target="_blank">{{post.author.name}}</a>
                    </div>
                </div>

                <div class="col-lg-10 col-md-10 post-cell">
                    <div class="welcome-text-title">{{post.title}}</div>
                    <div class="post-date">
                        <span>{{post.data}}</span>
                    </div>
                    <div class="post-body">
                       {{post.content}}
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 post-info">
                    <!--<div class="add-reply">-->
                        <!--<button type="button" class="btn btn-primary">Reply</button>-->
                    <!--</div>-->
                    <div class="like-count">
                        <!--Post Likes Count:-->
                        <span class="like-count-total">{{post.likes.length}}</span>
                        <ng-md-icon icon="thumb_up" style="fill: #b1b1b1"></ng-md-icon>
                        <span class="reply-count-total">{{post.comments.length}}</span>
                        <ng-md-icon icon="reply" style="fill: #b1b1b1"></ng-md-icon>
                    </div>
                </div>
            </div><!--post-->
</div>


        <div class="commentPost" ng-repeat="comment in post.comments">
            <div class="row commentPost-content">
                <div class="col-lg-2 col-md-2 commentPost-icon">
                    <img class="author-img"
                         src="{{comment.author.previewPhoto}}">
                    <div class="commentPost-author">
                        <a class="page-link lia-link-navigation lia-user-name-link"
                           href="#" target="_blank">{{comment.author.name}}</a>
                        <div class="commentPost-date">
                            <span>{{comment.data}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 commentPost-cell">
                    <div class="commentPost-body">
                        {{comment.content}}
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 commentPost-info">
                    <div class="like-count">
                        <span class="like-count-total">{{comment.countLike}}</span>
                        <ng-md-icon icon="thumb_up" style="fill: #b1b1b1"></ng-md-icon>
                    </div>
                </div>
            </div><!--post-->
        </div>
        <!--add comments to the post-->
        <form name="addCommentPostForm" role="addEvent" ng-submit="sendComment()">
            <div class="form-input">
                <button class="btn btnAddPostComment" type="submit" ng-class="{ 'btn-success': redirect }"
                        ng-disabled="addCommentPostForm.$invalid || addCommentPostForm.$pristine">ADD COMMENT</button>
                <textarea type="text" id="commentPost" class="form-control chat-input addCommentPost" placeholder="Enter your text" ng-model="newCommentPost.content"
                          name="commentContent" autofocus="true" ng-minlength="6" ng-required="true"></textarea>
                <div class="col-md-5 errorComment">
                    <div class="errors" ng-class="{ active: addCommentPostForm.commentContent.$invalid && addCommentPostForm.commentContent.$dirty }">
                        <div class="error ng-hide" ng-show="addCommentPostForm.commentContent.$error.minlength">
                            <p class="errorsContentAddEvent" >Comment is too short!</p>
                        </div>
                    </div>
                </div>
            </div>
    </form>

</div>
</div>
