<div class="backgroundPage">
    <div class="col-md-9"></div>
    <div class="col-md-3">
            <div class="add-event">
                <div class="add-event-title">Add Event</div>

                <div class="form-input subject">
                    <label>Subject</label>
                    <input type="text" class="form-control" placeholder="Enter Subject Here" name="subject" autofocus="true"
                           ng-minlength="4" ng-maxlength="32" ng-required="true">
                    <div class="errors" ng-class="{ active: registerForm.name.$invalid && registerForm.name.$dirty }">
                        <div class="error ng-hide" ng-show="registerForm.name.$error.minlength">
                            <p>Provided name is too short!</p>
                        </div>
                        <div class="error ng-hide" ng-show="registerForm.name.$error.maxlength">
                            <p>Max name length is 32, please shorten it.</p>
                        </div>
                    </div>
                </div>

                <div class="form-input time">
                    <label>Start Time</label>
                    <div ng-controller="TimepickerDemoCtrl">
                        <div uib-timepicker ng-model="mytime" hour-step="hstep" minute-step="mstep" show-meridian="false"></div>
                        <pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>
                    </div>
                </div>

                <div class="form-input location">
                    <label>Select Location</label>
                    <select class="form-control" name="location">
                        <option value="">Choose Locations</option>
                        <option value="general-group">Львів</option>
                        <option value="regional-group">Київ</option>
                        <option value="regional-group">Запоріжжя</option>
                        <option value="regional-group">Тернопіль</option>
                        <option value="regional-group">Харків</option>
                    </select>
                </div>

                <div class="form-input mobile">
                    <label>Contact Number</label>
                    <input type="text" class="form-control" placeholder="Enter Contact Number Here" name="mobile"
                           ng-minlength="9" ng-maxlength="32" ng-required="true">
                    <div class="errors" ng-class="{ active: registerForm.name.$invalid && registerForm.name.$dirty }">
                        <div class="error ng-hide" ng-show="registerForm.name.$error.minlength">
                            <p>Provided number is too short!</p>
                        </div>
                        <div class="error ng-hide" ng-show="registerForm.name.$error.maxlength">
                            <p>Max number length is 32, please shorten it.</p>
                        </div>
                    </div>
                </div>


                <div class="form-input body" ng-controller="wysiwygeditor">
                    <label>Body</label>
                    <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
                </div>

                <div class="add-post-btn">
                    <button type="button" class="btn btn-primary">Add Event</button>
                    <a ui-sref="post" class="btn cancel-post">Cancel</a>
                </div>
            </div>
    </div>
<div class="welcome_page">
            <!--<h1>Error</h1>-->
            <div class="none_login_user">
                <h3 class="none_login">Why You Should Join Our Community ?</h3>
                <h4 class="none_login"> - We are the best of the best</h4>
                <h4 class="none_login"> - We upgrade our skills everyday </h4>
                <h4 class="none_login"> - There are no limits of perfection</h4>
                <h4 class="none_login"> - There are no limits of perfection</h4>
                <h4 class="none_login"> - There are no limits of perfection</h4>
                <h4 class="none_login"> - Our funds will rise progressively next 5 years</h4>

            </div>
            <!--<div ng-switch="$stateParams.errr">-->
            <!--<p class="text-danger" ng-switch-when="unauthorized">You are not authorized</p>-->
            <!--<p class="text-danger" ng-switch-when="401" >You are not authorized</p>-->
            <!--<p class="text-danger" ng-switch-default >Some error has occurred</p>-->

            <!--</div>-->
        </div>
</div>