.welcome_page {
    display: flex;
    width: 100%;
    padding: 5%;
    .none_login_user {
      width: 50%;
      padding-left: 20px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid black;
      background-color: rgba(6, 6, 6, 0.73);
      .none_login {

      }
      h3 {
        color: #fcfcfc;
        font-size: 26px;
        font-weight: 500;
        //text-align: center;
        padding-top: 20px;
      }
      h4 {
        color: #b4b4b4;
        font-size: 22px;
        font-weight: 300;
        text-align: left;
        padding-top: 20px;
      }
    }
  }
.backgroundPage {
  margin-top: -20px;
  padding-bottom: 59px;
  background: url(/images/src/welcome/images/welcome_bg.jpg) top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event {
  .welcome-text-title {
    color: #777777;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
        width: 90%;
  }
  .post-pagination {
    text-align: end;
    .pagination {
      li a {
        color: #000;
        margin-left: 10px;
      }
      .active a {
        border-color: #dddddd;
        background-color: #37a000;
        outline: 0;
        color: #fff;
      }
    }
  }
  .post {
    border-left: 2px solid #dadada;
    border-right: 2px solid #dadada;
    .post-content {
      padding: 5px;
      margin-left: 0;
      margin-right: 0;
      background-color: #fff;
      border-top: 2px solid #dadada;
      &:last-child {
        border-bottom: 2px solid #dadada;
      }
      a {
        cursor: pointer;
        color: #37a000;
        &:hover {
          color: #B0E44F;
        }
      }
      .post-icon {
        padding-top: 15px;
        .author-img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-bottom: 10px;
        }
        .post-author {
          font-weight: bold;
        }
      }
      .post-cell {
        padding-top: 5px;
        padding-bottom: 5px;
        .event-date {
          margin: 0 0 10px;
          color: #B2B2B2;
          font-weight: bold;
        }
        .post-date {
          //margin: 0 0 30px;
          color: #B2B2B2;
          font-weight: bold;
          float: left;
        }
          .start-time {
            padding-left: 20px;
            float: left;
          }
        .event-place {
        clear: both;
        }
        .post-body {
          padding-bottom: 13px;
          float: left;
        }
      }
      .post-info {
        padding-top: 5px;
        .author-tel {
         padding-bottom: 10px;
        }
          .like-count {
            float: right;

            color: #999999;
            font-weight: bold;
            ng-md-icon {
              cursor: pointer;
            }
          }
        .add-i-go {
          float: left;
          button {
            border-radius: 2px;
            background-color: #37a000;
            border: none;
            outline: 0;
          }
        }
          .add-reply {
          margin-left: 20px;
          float: right;
          button {
            border-radius: 2px;
            background-color: #37a000;
            border: none;
            outline: 0;
          }
        }
      }
    }
  }
}
