.welcome_page {
      display: flex;
    width: 100%;
    padding: 30px 150px;
    .none_login_user {

            width: 80%;
      padding-left: 20px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid black;
      background-color: rgba(6, 6, 6, 0.73);
      .none_login {

      }
      h3 {
        color: #fcfcfc;
        font-size: 26px;
        font-weight: 500;
        //text-align: center;
        padding-top: 20px;
      }
      h4 {
        color: #b4b4b4;
        font-size: 22px;
        font-weight: 300;
        text-align: left;
        padding-top: 20px;
      }
    }
  }
.backgroundPage{
  background: url(/images/src/welcome/images/welcome_bg.jpg) no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */



}